$memory-filename:         "memory-icons";
$memory-font-name:        "Memory Icons";
$memory-font-family:      "Memory Icons";
$memory-font-weight:      "normal";
$memory-font-path:        "../fonts" !default;
$memory-font-size-base:   24px !default;
$memory-css-prefix:       memory !default;
$memory-version:          "1.5.0" !default;

$memory-icons: (
  "account": F00CA,
  "account-box": F00CB,
  "alert": F0003,
  "alert-box": F0147,
  "alert-box-fill": F0148,
  "alert-circle": F0149,
  "alert-circle-fill": F014A,
  "alert-hexagon": F0198,
  "alert-hexagon-fill": F025A,
  "alert-octagon": F0100,
  "alert-rhombus": F0153,
  "alert-rhombus-fill": F0154,
  "align-horizontal-center": F0187,
  "align-horizontal-distribute": F017F,
  "align-horizontal-left": F017D,
  "align-horizontal-right": F017E,
  "align-vertical-bottom": F017B,
  "align-vertical-center": F0188,
  "align-vertical-distribute": F0180,
  "align-vertical-top": F017C,
  "alpha-a": F0094,
  "alpha-a-fill": F0095,
  "alpha-b": F0096,
  "alpha-b-fill": F0097,
  "alpha-c": F0098,
  "alpha-c-fill": F0099,
  "alpha-d": F009A,
  "alpha-d-fill": F009B,
  "alpha-e": F009C,
  "alpha-e-fill": F009D,
  "alpha-f": F009E,
  "alpha-f-fill": F009F,
  "alpha-g": F00A0,
  "alpha-g-fill": F00A1,
  "alpha-h": F00A2,
  "alpha-h-fill": F00A3,
  "alpha-i": F00A4,
  "alpha-i-fill": F00A5,
  "alpha-j": F00A6,
  "alpha-j-fill": F00A7,
  "alpha-k": F00A8,
  "alpha-k-fill": F00A9,
  "alpha-l": F00AA,
  "alpha-l-fill": F00AB,
  "alpha-m": F00AC,
  "alpha-m-fill": F00AD,
  "alpha-n": F00AE,
  "alpha-n-fill": F00AF,
  "alpha-o": F00B0,
  "alpha-o-fill": F00B1,
  "alpha-p": F00B2,
  "alpha-p-fill": F00B3,
  "alpha-q": F00B4,
  "alpha-q-fill": F00B5,
  "alpha-r": F00B6,
  "alpha-r-fill": F00B7,
  "alpha-s": F00B8,
  "alpha-s-fill": F00B9,
  "alpha-t": F00BA,
  "alpha-t-fill": F00BB,
  "alpha-u": F00BC,
  "alpha-u-fill": F00BD,
  "alpha-v": F00BE,
  "alpha-v-fill": F00BF,
  "alpha-w": F00C0,
  "alpha-w-fill": F00C1,
  "alpha-x": F00C2,
  "alpha-x-fill": F00C3,
  "alpha-y": F00C4,
  "alpha-y-fill": F00C5,
  "alpha-z": F00C6,
  "alpha-z-fill": F00C7,
  "anvil": F027A,
  "application": F015B,
  "application-code": F015C,
  "apps": F0240,
  "apps-box": F0241,
  "apps-box-fill": F0242,
  "archive": F00D7,
  "arrow": F0004,
  "arrow-bottom-left": F0068,
  "arrow-bottom-left-circle": F00DB,
  "arrow-bottom-right": F0069,
  "arrow-bottom-right-circle": F00DC,
  "arrow-down": F0005,
  "arrow-down-bold": F0006,
  "arrow-down-box": F0218,
  "arrow-down-circle": F00D0,
  "arrow-down-left": F0007,
  "arrow-down-left-box": F021C,
  "arrow-down-right": F0008,
  "arrow-down-right-box": F021D,
  "arrow-left": F0009,
  "arrow-left-bold": F000A,
  "arrow-left-box": F0219,
  "arrow-left-circle": F00D1,
  "arrow-left-down": F000B,
  "arrow-left-right": F000C,
  "arrow-left-up": F000D,
  "arrow-right": F000E,
  "arrow-right-bold": F000F,
  "arrow-right-box": F021A,
  "arrow-right-circle": F00D2,
  "arrow-right-down": F0010,
  "arrow-right-up": F0011,
  "arrow-top-left": F006A,
  "arrow-top-left-circle": F00DD,
  "arrow-top-right": F006B,
  "arrow-top-right-circle": F00DE,
  "arrow-up": F0012,
  "arrow-up-bold": F0013,
  "arrow-up-box": F021B,
  "arrow-up-circle": F00D3,
  "arrow-up-down": F0014,
  "arrow-up-left": F0015,
  "arrow-up-left-box": F021E,
  "arrow-up-right": F0016,
  "arrow-up-right-box": F021F,
  "aspect-ratio": F0194,
  "axe": F0017,
  "bag-personal": F00F1,
  "bag-personal-fill": F00CC,
  "bank": F0160,
  "barcode": F028B,
  "battery-0": F0018,
  "battery-100": F0019,
  "battery-25": F001A,
  "battery-50": F001B,
  "battery-75": F001C,
  "battle-axe": F001D,
  "beer": F0237,
  "bell": F0246,
  "blood": F0161,
  "book": F001E,
  "bookmark": F001F,
  "border-bottom": F00F2,
  "border-bottom-left": F00F3,
  "border-bottom-left-right": F0101,
  "border-bottom-right": F00F4,
  "border-inside": F00F5,
  "border-left": F00F6,
  "border-left-right": F0102,
  "border-none": F00F7,
  "border-outside": F00F8,
  "border-right": F00F9,
  "border-top": F00FA,
  "border-top-bottom": F0103,
  "border-top-left": F00FB,
  "border-top-left-bottom": F0104,
  "border-top-left-right": F0105,
  "border-top-right": F00FC,
  "border-top-right-bottom": F0106,
  "bow": F0020,
  "bow-arrow": F0021,
  "box": F0022,
  "box-light-dashed-down-left": F0146,
  "box-light-dashed-down-right": F0145,
  "box-light-dashed-horizontal": F0238,
  "box-light-dashed-up-left": F0143,
  "box-light-dashed-up-right": F0144,
  "box-light-dashed-vertical": F0239,
  "box-light-dashed-vertical-horizontal": F023A,
  "box-light-double-down-left": F01B0,
  "box-light-double-down-right": F01B1,
  "box-light-double-horizontal": F0118,
  "box-light-double-horizontal-down": F019F,
  "box-light-double-horizontal-light-down": F01B5,
  "box-light-double-horizontal-light-up": F01B6,
  "box-light-double-horizontal-up": F01A0,
  "box-light-double-round-down-left": F0117,
  "box-light-double-round-down-right": F0116,
  "box-light-double-round-up-left": F0115,
  "box-light-double-round-up-right": F0114,
  "box-light-double-up-left": F01B2,
  "box-light-double-up-right": F01B3,
  "box-light-double-vertical": F0119,
  "box-light-double-vertical-horizontal": F01B4,
  "box-light-double-vertical-left": F01A1,
  "box-light-double-vertical-light-left": F01B7,
  "box-light-double-vertical-light-right": F01B8,
  "box-light-double-vertical-right": F01A2,
  "box-light-down-left": F010F,
  "box-light-down-left-circle": F0125,
  "box-light-down-left-stipple": F01C5,
  "box-light-down-left-stipple-inner": F01C6,
  "box-light-down-left-stipple-outer": F01C7,
  "box-light-down-right": F010E,
  "box-light-down-right-circle": F0126,
  "box-light-down-right-stipple": F01C8,
  "box-light-down-right-stipple-inner": F01C9,
  "box-light-down-right-stipple-outer": F01CA,
  "box-light-fold-down-left": F01A3,
  "box-light-fold-down-right": F01A4,
  "box-light-fold-up-left": F01A5,
  "box-light-fold-up-right": F01A6,
  "box-light-horizontal": F010A,
  "box-light-horizontal-circle": F0171,
  "box-light-horizontal-down": F01A7,
  "box-light-horizontal-down-stipple": F01CB,
  "box-light-horizontal-down-stipple-down": F01CC,
  "box-light-horizontal-down-stipple-down-left": F01CD,
  "box-light-horizontal-down-stipple-down-right": F01CE,
  "box-light-horizontal-menu-down": F0173,
  "box-light-horizontal-menu-left": F017A,
  "box-light-horizontal-menu-right": F0179,
  "box-light-horizontal-menu-up": F0174,
  "box-light-horizontal-stipple": F01CF,
  "box-light-horizontal-stipple-down": F01D0,
  "box-light-horizontal-stipple-up": F01D1,
  "box-light-horizontal-up": F01A8,
  "box-light-horizontal-up-stipple": F01D2,
  "box-light-horizontal-up-stipple-down": F01D3,
  "box-light-horizontal-up-stipple-up": F01D4,
  "box-light-horizontal-up-stipple-up-left": F01D5,
  "box-light-horizontal-up-stipple-up-right": F01D6,
  "box-light-round-down-left": F0113,
  "box-light-round-down-left-stipple": F01D7,
  "box-light-round-down-left-stipple-inner": F01D8,
  "box-light-round-down-left-stipple-outer": F01D9,
  "box-light-round-down-right": F0112,
  "box-light-round-down-right-stipple": F01DA,
  "box-light-round-down-right-stipple-inner": F01DB,
  "box-light-round-down-right-stipple-outer": F01DC,
  "box-light-round-up-left": F0111,
  "box-light-round-up-left-stipple": F01DD,
  "box-light-round-up-left-stipple-inner": F01DE,
  "box-light-round-up-left-stipple-outer": F01DF,
  "box-light-round-up-right": F0110,
  "box-light-round-up-right-stipple": F01E0,
  "box-light-round-up-right-stipple-inner": F01E1,
  "box-light-round-up-right-stipple-outer": F01E2,
  "box-light-up-left": F010D,
  "box-light-up-left-circle": F0127,
  "box-light-up-left-stipple": F01E3,
  "box-light-up-left-stipple-inner": F01E4,
  "box-light-up-left-stipple-outer": F01E5,
  "box-light-up-right": F010C,
  "box-light-up-right-circle": F0128,
  "box-light-up-right-stipple": F01E6,
  "box-light-up-right-stipple-inner": F01E7,
  "box-light-up-right-stipple-outer": F01E8,
  "box-light-vertical": F010B,
  "box-light-vertical-circle": F0172,
  "box-light-vertical-horizontal": F0228,
  "box-light-vertical-horizontal-stipple": F01E9,
  "box-light-vertical-horizontal-stipple-down": F01EA,
  "box-light-vertical-horizontal-stipple-down-left": F01EB,
  "box-light-vertical-horizontal-stipple-down-right": F01EC,
  "box-light-vertical-horizontal-stipple-left": F01ED,
  "box-light-vertical-horizontal-stipple-left-down-right": F01EE,
  "box-light-vertical-horizontal-stipple-left-up-right": F01EF,
  "box-light-vertical-horizontal-stipple-right": F01F0,
  "box-light-vertical-horizontal-stipple-right-down-left": F01F1,
  "box-light-vertical-horizontal-stipple-right-up-left": F01F2,
  "box-light-vertical-horizontal-stipple-up": F01F3,
  "box-light-vertical-horizontal-stipple-up-left": F01F4,
  "box-light-vertical-horizontal-stipple-up-right": F01F5,
  "box-light-vertical-left": F01A9,
  "box-light-vertical-left-stipple": F01F6,
  "box-light-vertical-left-stipple-down-left": F01F7,
  "box-light-vertical-left-stipple-left": F01F8,
  "box-light-vertical-left-stipple-up-left": F01F9,
  "box-light-vertical-menu-down": F0178,
  "box-light-vertical-menu-left": F0175,
  "box-light-vertical-menu-right": F0176,
  "box-light-vertical-menu-up": F0177,
  "box-light-vertical-right": F01AA,
  "box-light-vertical-right-stipple": F01FA,
  "box-light-vertical-right-stipple-down-right": F01FB,
  "box-light-vertical-right-stipple-left": F01FC,
  "box-light-vertical-right-stipple-right": F01FD,
  "box-light-vertical-right-stipple-up-right": F01FE,
  "box-light-vertical-stipple": F01FF,
  "box-light-vertical-stipple-left": F0200,
  "box-light-vertical-stipple-right": F0201,
  "box-outer-light-all": F0133,
  "box-outer-light-dashed-all": F0122,
  "box-outer-light-dashed-down": F0120,
  "box-outer-light-dashed-down-left": F013D,
  "box-outer-light-dashed-down-left-right": F011C,
  "box-outer-light-dashed-down-right": F013C,
  "box-outer-light-dashed-fold-down-left": F01AB,
  "box-outer-light-dashed-fold-down-right": F01AC,
  "box-outer-light-dashed-fold-up-left": F01AD,
  "box-outer-light-dashed-fold-up-right": F01AE,
  "box-outer-light-dashed-left": F0121,
  "box-outer-light-dashed-left-right": F0123,
  "box-outer-light-dashed-right": F011F,
  "box-outer-light-dashed-up": F011E,
  "box-outer-light-dashed-up-down": F0124,
  "box-outer-light-dashed-up-down-left": F011D,
  "box-outer-light-dashed-up-down-right": F011B,
  "box-outer-light-dashed-up-left": F013E,
  "box-outer-light-dashed-up-left-right": F011A,
  "box-outer-light-dashed-up-right": F013B,
  "box-outer-light-down": F0131,
  "box-outer-light-down-left": F0139,
  "box-outer-light-down-left-right": F012B,
  "box-outer-light-down-left-stipple": F0202,
  "box-outer-light-down-right": F0138,
  "box-outer-light-down-right-stipple": F0203,
  "box-outer-light-down-stipple": F0204,
  "box-outer-light-down-vertical-stipple": F0205,
  "box-outer-light-down-vertical-stipple-left": F0206,
  "box-outer-light-down-vertical-stipple-right": F0207,
  "box-outer-light-left": F0132,
  "box-outer-light-left-horizontal-stipple": F0208,
  "box-outer-light-left-horizontal-stipple-down": F0209,
  "box-outer-light-left-horizontal-stipple-up": F020A,
  "box-outer-light-left-right": F012E,
  "box-outer-light-left-right-stipple": F020B,
  "box-outer-light-left-stipple": F020C,
  "box-outer-light-right": F0130,
  "box-outer-light-right-horizontal-stipple": F020D,
  "box-outer-light-right-horizontal-stipple-down": F020E,
  "box-outer-light-right-horizontal-stipple-up": F020F,
  "box-outer-light-right-stipple": F0211,
  "box-outer-light-round-down-left": F0141,
  "box-outer-light-round-down-right": F0140,
  "box-outer-light-round-up-left": F013F,
  "box-outer-light-round-up-right": F0142,
  "box-outer-light-up": F012F,
  "box-outer-light-up-down": F012D,
  "box-outer-light-up-down-left": F012C,
  "box-outer-light-up-down-right": F012A,
  "box-outer-light-up-down-stipple": F0210,
  "box-outer-light-up-left": F013A,
  "box-outer-light-up-left-right": F0129,
  "box-outer-light-up-left-stipple": F0212,
  "box-outer-light-up-right": F0137,
  "box-outer-light-up-right-stipple": F0213,
  "box-outer-light-up-stipple": F0214,
  "box-outer-light-up-vertical-stipple": F0215,
  "box-outer-light-up-vertical-stipple-left": F0216,
  "box-outer-light-up-vertical-stipple-right": F0217,
  "briefcase": F00D8,
  "broadcast": F0243,
  "bug": F0023,
  "bug-fill": F00FD,
  "calculator": F0155,
  "calendar": F0024,
  "calendar-import": F0251,
  "calendar-month": F0025,
  "cancel": F00DF,
  "card": F0026,
  "card-text": F0027,
  "cart": F00FE,
  "cash": F028A,
  "cast": F0245,
  "castle": F0227,
  "chart-bar": F0107,
  "chat": F00ED,
  "chat-processing": F0247,
  "check": F0028,
  "checkbox-blank": F0029,
  "checkbox-cross": F006C,
  "checkbox-intermediate": F0248,
  "checkbox-intermediate-variant": F0249,
  "checkbox-marked": F002A,
  "checker-large": F0162,
  "checker-medium": F0163,
  "checker-small": F0164,
  "checkerboard": F018B,
  "chest": F025B,
  "chest-fill": F025C,
  "chevron-down": F002B,
  "chevron-down-circle": F006D,
  "chevron-left": F002C,
  "chevron-left-circle": F006E,
  "chevron-right": F002D,
  "chevron-right-circle": F006F,
  "chevron-up": F002E,
  "chevron-up-circle": F0070,
  "circle": F002F,
  "clipboard": F00D4,
  "clock": F0071,
  "clock-fill": F025D,
  "close": F025E,
  "close-outline": F025F,
  "cloud": F0287,
  "cloud-down": F0288,
  "cloud-up": F0289,
  "coffee": F00D9,
  "coin-copper": F0165,
  "coin-electrum": F0166,
  "coin-gold": F0167,
  "coin-platinum": F0168,
  "coin-silver": F0169,
  "comment": F0108,
  "comment-text": F0109,
  "comment-user": F0196,
  "compass": F0030,
  "compass-east-arrow": F0072,
  "compass-north-arrow": F0073,
  "compass-north-east": F0074,
  "compass-north-west": F0075,
  "compass-south-arrow": F0076,
  "compass-south-east": F0077,
  "compass-south-west": F0078,
  "compass-west-arrow": F0079,
  "credit-card": F00E0,
  "crossbow": F0272,
  "crown": F00C8,
  "cube": F016C,
  "cube-unfolded": F0002,
  "dagger": F016A,
  "database": F0031,
  "device": F00C9,
  "diamond": F00EF,
  "division": F0158,
  "door": F0032,
  "door-box": F014B,
  "door-open": F0033,
  "dot-hexagon": F0199,
  "dot-hexagon-fill": F0260,
  "dot-octagon": F0191,
  "dot-octagon-fill": F0261,
  "download": F0034,
  "email": F00D5,
  "eye": F0244,
  "eye-fill": F024B,
  "file": F0035,
  "fill": F01AF,
  "filter": F024A,
  "fire": F015D,
  "flask": F0036,
  "flask-empty": F0037,
  "flask-round-bottom": F0038,
  "flask-round-bottom-empty": F0039,
  "floppy-disk": F00DA,
  "folder": F003A,
  "folder-open": F003B,
  "format-align-bottom": F0186,
  "format-align-center": F0182,
  "format-align-justify": F0184,
  "format-align-left": F0181,
  "format-align-right": F0183,
  "format-align-top": F0185,
  "format-bold": F018D,
  "format-float-left": F018F,
  "format-float-right": F0190,
  "format-horizontal-align-center": F0189,
  "format-italic": F018E,
  "format-line-spacing": F018C,
  "format-text": F0262,
  "format-text-multiline": F0263,
  "format-text-single-line": F0264,
  "format-vertical-align-center": F018A,
  "gamepad": F0040,
  "gamepad-center": F01B9,
  "gamepad-center-fill": F003C,
  "gamepad-down": F01BA,
  "gamepad-down-fill": F003D,
  "gamepad-down-left": F01BE,
  "gamepad-down-left-fill": F003E,
  "gamepad-down-right": F01BF,
  "gamepad-down-right-fill": F003F,
  "gamepad-fill": F01C2,
  "gamepad-left": F01BB,
  "gamepad-left-fill": F0041,
  "gamepad-right": F01BC,
  "gamepad-right-fill": F0042,
  "gamepad-up": F01BD,
  "gamepad-up-fill": F0043,
  "gamepad-up-left": F01C0,
  "gamepad-up-left-fill": F0044,
  "gamepad-up-right": F01C1,
  "gamepad-up-right-fill": F0045,
  "glaive": F0265,
  "glasses": F0192,
  "halberd": F0273,
  "heart": F0046,
  "heart-broken": F016B,
  "help": F024C,
  "help-box": F0266,
  "help-box-fill": F0267,
  "hexagon": F019A,
  "home-thatched": F027B,
  "image": F0047,
  "javalin": F027C,
  "journal": F027D,
  "key": F024D,
  "label": F00E1,
  "label-variant": F00E2,
  "lance": F0274,
  "led": F00E3,
  "lightbulb": F00E4,
  "linen": F027E,
  "lock": F0048,
  "lock-open": F0049,
  "login": F007A,
  "logout": F007B,
  "magnify-minus": F019D,
  "magnify-plus": F019C,
  "map": F004A,
  "menu-bottom-left": F0088,
  "menu-bottom-right": F0089,
  "menu-down": F007C,
  "menu-down-fill": F008A,
  "menu-left": F007D,
  "menu-left-fill": F008B,
  "menu-left-right": F007E,
  "menu-right": F007F,
  "menu-right-fill": F008C,
  "menu-top-left": F008D,
  "menu-top-right": F008E,
  "menu-up": F0080,
  "menu-up-down": F0081,
  "menu-up-fill": F008F,
  "message": F004B,
  "message-processing": F00E5,
  "message-text": F004C,
  "message-user": F0197,
  "microphone": F00CD,
  "minus": F0157,
  "minus-box": F014E,
  "minus-box-fill": F014F,
  "minus-circle": F00E9,
  "minus-circle-fill": F0150,
  "monitor": F004D,
  "monitor-image": F004E,
  "multiply": F0159,
  "music-note": F00E6,
  "necklace": F00CE,
  "note": F004F,
  "note-nailed": F027F,
  "notebook": F0050,
  "notification": F00D6,
  "number": F0268,
  "octagon": F00FF,
  "paperclip": F016D,
  "pause": F0134,
  "peace": F0193,
  "pencil": F0051,
  "pickaxe": F0052,
  "pictogrammers": F0001,
  "pike": F0280,
  "play": F0135,
  "plus": F0156,
  "plus-box": F0151,
  "plus-box-fill": F0152,
  "plus-circle": F00EA,
  "plus-circle-fill": F014C,
  "poll": F024E,
  "pound": F024F,
  "quarterstaff": F0275,
  "radiobox": F0053,
  "radiobox-marked": F0054,
  "range": F0269,
  "relative-scale": F0195,
  "remove-circle": F00EB,
  "ring": F0281,
  "rotate-clockwise": F0082,
  "rotate-counterclockwise": F0083,
  "scimitar": F0276,
  "script": F0055,
  "search": F019B,
  "shield": F0056,
  "shovel": F0277,
  "skull": F00EC,
  "slider-end": F026A,
  "slider-right": F026B,
  "speaker": F00F0,
  "spear": F0282,
  "stool": F0283,
  "stop": F0136,
  "sword": F0057,
  "table-top-door-horizontal": F0226,
  "table-top-door-one-way-down": F0225,
  "table-top-door-one-way-left": F0224,
  "table-top-door-one-way-right": F0223,
  "table-top-door-one-way-up": F0222,
  "table-top-door-secret-horizontal": F022B,
  "table-top-door-secret-vertical": F0229,
  "table-top-door-vertical": F0221,
  "table-top-horizontal-rotate-clockwise": F023B,
  "table-top-horizontal-rotate-counterclockwise": F023C,
  "table-top-horizontal-stairs-ascend-left": F022A,
  "table-top-horizontal-stairs-ascend-right": F022C,
  "table-top-horizontal-stairs-descend-down": F0231,
  "table-top-horizontal-stairs-descend-left": F022D,
  "table-top-horizontal-stairs-descend-right": F022E,
  "table-top-horizontal-stairs-descend-up": F0232,
  "table-top-spiral-stairs-down": F0252,
  "table-top-spiral-stairs-left": F0253,
  "table-top-spiral-stairs-right": F0254,
  "table-top-spiral-stairs-round-down": F0256,
  "table-top-spiral-stairs-round-left": F0257,
  "table-top-spiral-stairs-round-right": F0258,
  "table-top-spiral-stairs-round-up": F0259,
  "table-top-spiral-stairs-up": F0255,
  "table-top-stairs-down": F0233,
  "table-top-stairs-left": F0234,
  "table-top-stairs-right": F0235,
  "table-top-stairs-up": F0236,
  "table-top-vertical-rotate-clockwise": F023D,
  "table-top-vertical-rotate-counterclockwise": F023E,
  "table-top-vertical-stairs-ascend-down": F022F,
  "table-top-vertical-stairs-ascend-up": F0230,
  "tag": F0058,
  "tag-text": F0059,
  "target": F014D,
  "tent": F023F,
  "terminal": F00CF,
  "text-box": F005A,
  "text-image": F00E7,
  "tile-caution-heavy": F016E,
  "tile-caution-thin": F016F,
  "tile-diamond-hex": F0170,
  "time-sand": F0284,
  "toggle-switch-off": F005B,
  "toggle-switch-on": F005C,
  "toolbox": F00EE,
  "tooltip-above": F005D,
  "tooltip-above-alert": F0090,
  "tooltip-above-help": F026C,
  "tooltip-above-text": F0062,
  "tooltip-below": F005E,
  "tooltip-below-alert": F0091,
  "tooltip-below-help": F026D,
  "tooltip-below-text": F0063,
  "tooltip-end": F005F,
  "tooltip-end-alert": F0092,
  "tooltip-end-help": F026E,
  "tooltip-end-text": F0060,
  "tooltip-start": F0061,
  "tooltip-start-alert": F0093,
  "tooltip-start-help": F026F,
  "tooltip-start-text": F0064,
  "torch": F0285,
  "toy-brick": F0250,
  "trash": F0065,
  "trident": F0278,
  "umbrella": F0220,
  "upload": F0066,
  "volume-high": F0084,
  "volume-low": F0085,
  "volume-medium": F0086,
  "volume-mute": F0087,
  "wall": F015A,
  "wall-fill": F0067,
  "wall-front": F019E,
  "wall-front-damaged": F01C4,
  "wall-front-gate": F01C3,
  "water": F015F,
  "water-fill": F015E,
  "weight": F0270,
  "weight-fill": F0271,
  "well": F00E8,
  "whip": F0279,
  "wind": F0286
);